.main-header1 {
    font-size: 5.4rem;
    line-height: 5.2rem;
    font-weight: 900;
    font-family: 'lato';
   
}

.main-header {
    transition: transform 0.79s ease-in-out; /* Smooth transition for movement */
  }
  
  .move-right {
    transform: translateX(40px); /* Move header to the right by 300px */
  }
  

@media (max-width: 768px) {
    .main-header1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
    }

    .move-right {
      transform: translateX(20px); /* Move header to the right by 300px */
    }
}